In [1]:
import pandas as pd
import numpy as np

In [12]:
station = pd.read_csv('서울역학습서비스_수요조사_오프라인.csv')
station.columns

Index(['타임스탬프', '성별', '나이', '최근 3개월간 열차 (KTX, SRT 등)를 얼마나 자주 탑승하셨나요?',
       '열차 (KTX, SRT 등)에서 내린 후, 어떤 교통수단을 사용해서 목적지로 이동하시나요?',
       '🚕 HOXI는 서울역, 용산역 등에서 목적지 방향이 비슷한 승객들끼리의 편리한 합승을 돕는 서비스입니다 🚕\r\n\r\n1️⃣ HOXI는 당신의 합승 예약 정보를 바탕으로 합승객 매칭부터 가격 및 경로 계산, 택시 호출까지 대신 해줍니다. \r\n2️⃣ 매칭 인원에 따라 승용차 혹은 대형 승합차를 이용할 수 있습니다.\r\n3️⃣ HOXI는 혼자 택시를 탈 때보다 평균 40~50% 저렴하고 최대 70%까지 저렴합니다. \r\n4️⃣ 합승 인원에 따라 이동 시간이 최대 5~15분까지 추가될 수 있습니다.\r\n\r\nHOXI 서비스가 있다면 사용하실 의향이 있나요?',
       'HOXI 서비스의 최대 장점이 무엇이라고 생각하시나요?',
       'HOXI 서비스를 사용한다면, 모르는 사람과의 합승으로 우려되는 점이 있다면 무엇인가요?',
       'HOXI 서비스로 합승하는 사람과 하고 싶은 일이나 콘텐츠가 있다면 적어주세요!!',
       '사용하실 의향이 없는 이유는 무엇인가요? (최대 3개 선택)',
       '리워드 추첨 참여를 희망하시는 경우, 전화번호를 작성해주세요.\r\n(ex. 010-0000-0000)'],
      dtype='object')

In [22]:
print(station.columns[2])
print(station.columns[4])
print(station.columns[5])
age = station.iloc[:,2]
transport = station.iloc[:,4]
use = station.iloc[:,5]

나이
열차 (KTX, SRT 등)에서 내린 후, 어떤 교통수단을 사용해서 목적지로 이동하시나요?
🚕 HOXI는 서울역, 용산역 등에서 목적지 방향이 비슷한 승객들끼리의 편리한 합승을 돕는 서비스입니다 🚕

1️⃣ HOXI는 당신의 합승 예약 정보를 바탕으로 합승객 매칭부터 가격 및 경로 계산, 택시 호출까지 대신 해줍니다.
2️⃣ 매칭 인원에 따라 승용차 혹은 대형 승합차를 이용할 수 있습니다.
3️⃣ HOXI는 혼자 택시를 탈 때보다 평균 40~50% 저렴하고 최대 70%까지 저렴합니다.
4️⃣ 합승 인원에 따라 이동 시간이 최대 5~15분까지 추가될 수 있습니다.

HOXI 서비스가 있다면 사용하실 의향이 있나요?

In [24]:
df = pd.DataFrame({'나이':age, '교통수단':transport, '선호':use})
df.head()

    나이 교통수단   선호
0  20대   택시    네
1  20대   도보  아니오
2  30대   버스  아니오
3  30대  지하철  아니오
4  20대  지하철  아니오

In [33]:
station_2030 = df.copy()
for i in range(len(df)):
    if df['나이'][i] != '20대' and df['나이'][i] != '30대':
        station_2030 = station_2030.drop(i, axis=0)
station_2030.reset_index(drop=True, inplace=True)
station_2030.tail()

     나이                                               교통수단   선호
90  20대  어떤 지역, 그 지역에 역이 두 개인 경우 어떤 역에서 하차하는냐에 따라 다릅니다만...  아니오
91  30대                                                지하철    네
92  20대                                                 택시    네
93  20대                                                지하철    네
94  20대                                                 버스    네

In [49]:
cnt_target = 0

for i in range(len(station_2030)):
    if station_2030['교통수단'][i] == '택시':
        cnt_target += 1
print(f'2030중 택시 사용하는 비율 : {round(cnt_target/len(station_2030)*100,2)} %')

cnt_target2 = 0

for i in range(len(station_2030)):
    if station_2030['교통수단'][i] == '택시' and station_2030['선호'][i] == '네':
        cnt_target2 += 1
print(f'2030중 택시 사용하면서 혹시에 긍정적인 비율 : {round(cnt_target2/len(station_2030)*100,2)} %')

print(f'2030중 택시 사용하는 사람 중 혹시에 긍정적인 비율 : {round(cnt_target2/cnt_target*100,2)} %')

2030중 택시 사용하는 비율 : 27.37 %
2030중 택시 사용하면서 혹시에 긍정적인 비율 : 21.05 %
2030중 택시 사용하는 사람 중 혹시에 긍정적인 비율 : 76.92 %

In [52]:
cnt_target3 = 0

for i in range(len(station_2030)):
    if station_2030['교통수단'][i] != '택시':
        cnt_target3 += 1
print(f'2030중 택시 사용안하는 비율 : {round(cnt_target3/len(station_2030)*100,2)} %')

cnt_target4 = 0

for i in range(len(station_2030)):
    if station_2030['교통수단'][i] != '택시' and station_2030['선호'][i] == '네':
        cnt_target4 += 1
print(f'2030중 택시 사용안하면서 혹시에 긍정적인 비율 : {round(cnt_target4/len(station_2030)*100,2)} %')

print(f'2030중 택시 사용안하는 사람 중 혹시에 긍정적인 비율 : {round(cnt_target4/cnt_target3*100,2)} %')

2030중 택시 사용안하는 비율 : 72.63 %
2030중 택시 사용안하면서 혹시에 긍정적인 비율 : 50.53 %
2030중 택시 사용안하는 사람 중 혹시에 긍정적인 비율 : 69.57 %