In [138]:
import pandas as pd
import numpy as np

In [139]:
mvp = pd.read_csv('/Users/minkyuramen/Desktop/HOXI_DATA_ANALYSIS/고연전_MVP_인터뷰.csv')

In [140]:
print(mvp.columns[1])

1-1. 평소 안암에서 심야시간에 귀가할때, 주로 어떤 방식을 사용하시나요? (복수선택 가능)

In [141]:
print(mvp.columns[2])
print(mvp.columns[3])
print(mvp.columns[4])

1-2.1) 심야 버스를 사용한 적이 있다면 장점이 무엇인가요? (복수선택 가능)
1-2.2) 심야버스를 사용한 적이 있다면 단점이 무엇인가요?  (복수선택 가능)
1-2.3) 심야버스를 타면 집까지 도착하는데 시간이 얼마나 걸리나요? ( 안암 출발 기준, 단위 : 분 )

In [142]:
mvp.iloc[:,4]
bus_hour = [100,60,130,60,40,40,80,50,90,None,120,70,None,None] # 안암출발기준 버스소요시간 1
len(bus_hour)

14

In [143]:
print(mvp.columns[5])
print(mvp.columns[6])
print(mvp.columns[7])
print(mvp.columns[8])
print(mvp.columns[9])
print(mvp.columns[10])
mvp.iloc[:,7]
taxi_hour = [30,30,20,30,30,30,35,None,35,35,40,30,30,15] # 안암출발기준 택시소요시간 2
mvp.iloc[:,8]
taxi_pay = [15000,20000,None,22000,15000,10000,20000,None,18000,16000,30000,27000,20000,10000] # 안암출발기준 택시가격 3
mvp.iloc[:,9]
waiting_hour = [30,None,20,None,None,20,30,None,40,20,60,30,40,40]
len(taxi_hour), len(taxi_pay), len(waiting_hour)

1-3.1) 심야택시를 사용한 적이 있다면 장점이 무엇인가요? (복수선택 가능)
1-3.2) 심야택시를 사용한 적이 있다면 단점이 무엇인가요? (복수선택 가능)
1-3.3) 심야택시를 타고 안암에서 집까지 도착하는데 시간이 대략 얼마정도 걸리나요?  ( 안암 출발 기준, 단위 : 분 )
1-3.4) 심야택시를 타면 안암에서 집까지 도착하는데 요금이 대략 얼마정도 나오나요?
1-3.5) 심야에 택시가 안잡혀서 기다리신 경험이 있으시다면 어디에서, 얼마나 기다려보셨나요? (안암외 지역 가능)
1-3.6) 택시가 끝까지 안 잡힌 경우가 있으신가요? 있으시다면, 어떻게 귀가하셨나요? (안암외 지역 가능)

(14, 14, 14)

In [144]:
print(mvp.columns[11])
mvp.iloc[:,11]
prioirity = ['12345','13245','13254','12435','14253','12435','13425','23154','13425','12453','32145','13452','13245','21354'] # 교통편의 중요가치 4
len(prioirity)

1-4. 심야시간 귀가시 교통편의 중요가치를 순서대로 나열해주세요. ( ex : 1-4-3-2-5 )

( 1 : 귀가할 수 있다는 보장, 2 : 저렴한 비용, 3 : 소요시간, 4 : 안전 5 : 쾌적함 )

14

In [154]:
print(mvp.columns[12])
print(mvp.columns[13])
print(mvp.columns[14])
mvp.iloc[:,12]
discount = [4000,9000,3000,5000,1000,3000,2000,7000,5000,2000,10000,9000,4000,3000] # 최소 택시할인금액 5
mvp.iloc[:,13]
latency = [19,19,14,14,4,19,14,19,14,20,19,14,14,14] # 최대 추가시간 6
len(latency)
mvp.iloc[:,14]
duration_time = [15,5,10,5,5,10,5,15,10,5,10,10,3,10] # 최대 지연시간 7

2-1.1)  안암에서 합승을 했을 때, 기존에 심야택시를 탔을 때의 가격보다 얼마정도 저렴해야 타실 의향이 있나요?

(2-1.2에서 넘어왔다면, 해당 시간 만큼 늦어질 경우 적절한 가격 선택)
2-1.2) 안암에서 합승을 했을 때, 심야택시를 탔을 때의 귀가시간보다 최대 몇분 정도 추가 소요되어도 타실 의향이 있나요?

(2-1.1에서 넘어왔다면, 해당 가격만큼 저렴해질 경우 적절한 시간 선택)
2-1.3) 함께 합승하는 승객이 오지 않을 경우 출발이 늦어집니다. 다른 합승자를 최대 얼마나 기다릴 수 있나요?

In [146]:
print(mvp.columns[15])
print(mvp.columns[16])
print(mvp.columns[17])
print(mvp.columns[18])
print(mvp.columns[19])
print(mvp.columns[20])
print(mvp.columns[21])
mvp.iloc[:,17]
passenger_num = [3,4,4,5,7,2,4,5,2,4,4,4,4,2] # 최대 동승자수 8
len(passenger_num)
mvp.iloc[:,20]
realtime_waiting = [30,10,15,30,30,15,30,30,15,15,15,60,60,15] # 실시간탑승 최대 대기시간 9
len(realtime_waiting)
mvp.iloc[:,21]
reservation_waiting = [30,0,10,10,15,15,15,60,15,10,15,15,10,10] # 예약탑승 최대 대기시간 10
len(realtime_waiting)

2-2.1) 에브리타임이나 고파스의 홍보게시물을 보고 서비스를 신청하실 때에 합승한다는 사실에 대한 거부감이 없으셨나요?
2-2.2) 신원이 인증된 사람들과 합승하실 생각이 있나요?
2-2.3) 개인공간이 보장되기 위해서는 최대 몇 명까지 합승하는 것이 적절하다고 생각하시나요? (9인승 카니발 차량, 자신 포함, 1명~9명 중 택 1)
2-2.4) 신원이 인증된 사람들과 동승한다면, 어떠한 점이 불편할까요? (복수선택)
2-2.5) 합승에 대한 불편함을 어떤 방식으로 해소할 수 있을까요? (복수 선택 가능)
2-3.1) 지금 당장 귀가하고자 차량을 신청했을 때 최대 몇 분까지 기다리실 수 있나요? (승차거부 없이 차량을 반드시 탈 수 있다는 보장)
2-3.2) 미리 탑승하고자 하는 시간을 말했을 경우, 원하는 시간보다 탑승 가능 시간이 지체되어도 탑승하실 건가요? 그렇다면 몇 분까지 기다리실 수 있나요? (승차거부 없이 차량을 반드시 탈 수 있다는 보장)

14

In [147]:
print(mvp.columns[22])
print(mvp.columns[23])
mvp.iloc[:,22]
confirm_match = [20,20,10,20,10,10,20,10,15,15,15,15,20,20] # 탑승안내 확정 시간 11
len(confirm_match)

3-1. 탑승하기 최소한 몇분 전까지 탑승 확정 안내 (탑승차량, 탑승위치, 예정소요시간 등) 를 받았으면 하나요?
3-2. 귀소본능 서비스 안내를 도와 드리기 위해 상단 그림과 같은 안내문을 보내드렸습니다. 안내 서비스와 관련하여 불편한 점이 있으셨나요?

14

In [148]:
print(mvp.columns[24])
print(mvp.columns[25])
print(mvp.columns[26])
print(mvp.columns[27])

4-1.1) 운행 중 누군가 새롭게 탑승하는 것에 대해 어떻게 생각하시나요? ( 소요 시간이 추가되지만, 운행 요금 감소 )
4-1.2) 중간에 탑승자를 추가하는 것이 부정적이라면 그 이유는 무엇인가요?

(기타의 경우, 구체적인 이유를 말씀해주시면 정말 감사하겠습니다)
4-1.3) 안암에서 합승 후 중간에 새로운 탑승객이 1명이 생긴다면 기존의 가격보다 얼마정도 저렴해야 타실 의향이 있나요?

(4-1.4에서 넘어왔다면, 해당 시간 만큼 늦어질 경우 적절한 가격 선택)
4-1.4) 안암에서 합승 후 중간에 새로운 탑승객이 1명이 생긴다면, 기존보다 최대 몇분 정도 추가 소요되어도 타실 의향이 있나요?

(4-1.3에서 넘어왔다면, 해당 가격만큼 저렴해질 경우 적절한 시간 선택)

In [149]:
print(mvp.columns[28])

귀소본능팀의 서비스를 이용하지 않았던 이유는 무엇이라고 생각하나요? (복수선택 가능)

In [150]:
print(mvp.columns[29])

6. 귀소본능팀에게 하고 싶은말
저희 귀소본능팀의 서비스를 사용해주셔서 정말 감사합니다.
저희 서비스에 대해서 추가로 하시고 싶으신 말씀이 있으시면 적어주시길 바랍니다.

In [151]:
bus_hour = [100,60,130,60,40,40,80,50,90,None,120,70,None,None] # 안암출발기준 버스소요시간 1
taxi_hour = [30,30,20,30,30,30,35,None,35,35,40,30,30,15] # 안암출발기준 택시소요시간 2
taxi_pay = [15000,20000,None,22000,15000,10000,20000,None,18000,16000,30000,27000,20000,10000] # 안암출발기준 택시가격 3
prioirity = ['12345','13245','13254','12435','14253','12435','13425','23154','13425','12453','32145','13452','13245','21354'] # 교통편의 중요가치 4
discount = [4000,9000,3000,5000,1000,3000,2000,7000,5000,2000,10000,9000,4000,3000] # 최소 택시할인금액 5
latency = [19,19,14,14,4,19,14,19,14,20,19,14,14,14] # 최대 추가시간 6
duration_time = [20,5,10,5,5,10,5,15,10,5,10,10,3,10] # 최대 지연시간 7
passenger_num = [3,4,4,5,7,2,4,5,2,4,4,4,4,2] # 최대 동승자수 8
realtime_waiting = [30,10,15,30,30,15,30,30,15,15,15,60,60,15] # 실시간탑승 최대 대기시간 9
reservation_waiting = [30,0,10,10,15,15,15,60,15,10,15,15,10,10] # 예약탑승 최대 대기시간 10
confirm_match = [20,20,10,20,10,10,20,10,15,15,15,15,20,20] # 탑승안내 확정 시간 11

In [192]:
df = pd.DataFrame({'택시 소요시간':taxi_hour,'택시 가격':taxi_pay,'할인 금액':discount,'지체시간':latency,'동승자 지연시간':duration_time,'동승자수':passenger_num,'탑승확정안내':confirm_match})

latency_per = []
discount_per = []
for i in range(len(df)):
    try:
        dis = round((discount[i]/taxi_pay[i]*100),1)
        discount_per.append(dis)
    except:
        discount_per.append(None)
    try:
        lat = round((latency[i]/taxi_hour[i]*100),1)
        latency_per.append(lat)
    except:
        latency_per.append(None)
print(discount_per)
print(latency_per)

df['최소할인금액(%)'] = discount_per
df['최대지체시간(%)'] = latency_per
df

[26.7, 45.0, None, 22.7, 6.7, 30.0, 10.0, None, 27.8, 12.5, 33.3, 33.3, 20.0, 30.0]
[63.3, 63.3, 70.0, 46.7, 13.3, 63.3, 40.0, None, 40.0, 57.1, 47.5, 46.7, 46.7, 93.3]

,택시 소요시간,택시 가격,할인 금액,지체시간,동승자 지연시간,동승자수,탑승확정안내,최소할인금액(%),최대지체시간(%)
0,30.0,15000.0,4000,19,15,3,20,26.7,63.3
1,30.0,20000.0,9000,19,5,4,20,45.0,63.3
2,20.0,NaN,3000,14,10,4,10,NaN,70.0
3,30.0,22000.0,5000,14,5,5,20,22.7,46.7
4,30.0,15000.0,1000,4,5,7,10,6.7,13.3
5,30.0,10000.0,3000,19,10,2,10,30.0,63.3
6,35.0,20000.0,2000,14,5,4,20,10.0,40.0
7,NaN,NaN,7000,19,15,5,10,NaN,NaN
8,35.0,18000.0,5000,14,10,2,15,27.8,40.0
9,35.0,16000.0,2000,20,5,4,15,12.5,57.1
10,40.0,30000.0,10000,19,10,4,15,33.3,47.5
11,30.0,27000.0,9000,14,10,4,15,33.3,46.7
12,30.0,20000.0,4000,14,3,4,20,20.0,46.7
13,15.0,10000.0,3000,14,10,2,20,30.0,93.3

In [194]:
def filtered_list_avg(my_list):
    lst = [x for x in my_list if x is not None]
    return round(sum(lst)/len(lst),1)

def filtered_long_avg(lst):
    lsst = []
    for i in range(len(lst)):
        if lst.iloc[i]['택시 소요시간']>25:
            lsst.append(lst.iloc[i]['최대지체시간(%)'])
    return round(sum(lsst)/len(lsst),1)

def filtered_short_avg(lst):
    lsst = []
    for i in range(len(lst)):
        if lst.iloc[i]['택시 소요시간']<25:
            lsst.append(lst.iloc[i]['최대지체시간(%)'])
    return round(sum(lsst)/len(lsst),1)

print(f'최소 할인금액 평균   ; {filtered_list_avg(discount_per)} %')

print(f'최대 지연시간 평균              ; {filtered_list_avg(latency_per)} %')
print(f'단거리(25분 이하) 지연시간 평균 ; {filtered_short_avg(df)} %')
print(f'장거리(25분 이상) 지연시간 평균 ; {filtered_long_avg(df)} %')


print(f'최대 동승자수 평균   ; {round(sum(passenger_num)/len(passenger_num),1)} 명')
print(f'동승자 확정안내      ; {round(sum(confirm_match)/len(confirm_match),1)} 분 전')
print(f'동승자 지연시간 평균 ; {round(sum(duration_time)/len(duration_time),1)} 분')

최소 할인금액 평균   ; 24.8 %
최대 지연시간 평균              ; 53.2 %
단거리(25분 이하) 지연시간 평균 ; 81.6 %
장거리(25분 이상) 지연시간 평균 ; 48.0 %
최대 동승자수 평균   ; 3.9 명
동승자 확정안내      ; 15.7 분 전
동승자 지연시간 평균 ; 8.4 분

In [172]:
df.iloc[1]['택시 소요시간']

30.0

In [213]:
train = pd.read_csv('/Users/minkyuramen/Desktop/HOXI_DATA_ANALYSIS/철도공사.csv', encoding='euc-kr')
train.head()

   성별   연령  시도코드 거주시도   총 발매 수
0   1  20대    11   서울  1909600
1   1  20대    26   부산   584400
2   1  20대    27   대구   701500
3   1  20대    28   인천   318200
4   1  20대    29   광주   187600

In [220]:
train_seoul = train.copy()
for i in range(len(train)):
    if train.iloc[i]['거주시도'] != '서울':
        train_seoul = train_seoul.drop(i, axis=0)
train_seoul['총 발매 수'].sum()

20405900

In [229]:
(train_seoul.iloc[0]['총 발매 수'] + train_seoul.iloc[1]['총 발매 수'] + train_seoul.iloc[6]['총 발매 수']+train_seoul.iloc[7]['총 발매 수'])/train_seoul['총 발매 수'].sum()

0.5247354931661922